main {
  min-height: 85vh;
}

h3 {
  padding-top: 0.6rem;
}

h2 {
  font-size: 1.2rem;
  padding: 0.5rem 0;
}

h1 {
  font-size: 1.6rem;
  padding: 0.7rem 0;
}

.heading {
  min-height: 8vh;
  background-image: linear-gradient( 89.4deg,  rgba(74,77,103,1) -4.3%, rgba(119,125,165,1) 102.1% );

}

.title {
  font-family: 'Julee', cursive;
  font-size: 1.6rem;
}

.footing {
  background-image: linear-gradient( 89.4deg,  rgba(74,77,103,1) -4.3%, rgba(119,125,165,1) 102.1% );
  color: white;
}
.image {
  height:600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.rating span {
  margin: 0.1rem;
}


.btn-grad {background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%)}
.btn-grad {
   margin: 10px;
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
